@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #06263E;
  font-family:  sans-serif;
}

.card-gradient {
  background: radial-gradient(at top center, #235683 0%, #0D2F4B 100%);
}